name: Pipeline CI-CD Complet

on:
  push:
    branches: [ main ] # Le pipeline complet se lance sur main
  pull_request:
    branches: [ main ] # La CI se lance aussi sur les demandes de fusion

jobs:
  # ÉTAPE 1 : INTEGRATION CONTINUE (CI)
  test-unitaire:
    runs-on: ubuntu-latest
    steps:
      - name: Recuperation du code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Installer Pytest
        run: pip install pytest

      - name: Executer les tests
        run: pytest test_app.py

  # ÉTAPE 2 : CONSTRUCTION (BUILD)
  build-and-push:
    runs-on: ubuntu-latest
    needs: test-unitaire
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    steps:
      - name: Recuperation du code
        uses: actions/checkout@v4

      - name: Connexion au GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/mon-app-banque:latest
            ghcr.io/${{ github.repository_owner }}/mon-app-banque:${{ github.sha }}

  # ÉTAPE 3 : DEPLOIEMENT CONTINU (CD) - SIMULATION
  deploy-to-production:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Simulation du deploiement
        run: |
          echo "Connexion au serveur de production..."
          echo "Telechargement de l'image ghcr.io/${{ github.repository_owner }}/mon-app-banque:${{ github.sha }}"
          echo "Arret de l'ancien conteneur..."
          echo "Lancement du nouveau conteneur sur le port 80..."
          echo "Deploiement termine avec succes !"