name: Verification du Code et Docker

on: [push]

jobs:
  test-unitaire:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install pytest
      - run: pytest test_app.py

  # NOUVEAU JOB : Construction de l'image Docker
  build-docker:
    runs-on: ubuntu-latest
    # On attend que les tests unitaires passent avant de lancer Docker
    needs: test-unitaire 
    steps:
      - uses: actions/checkout@v4
      
      - name: Build de l'image Docker
        run: docker build -t mon-image-test:${{ github.sha }} .